# Нормализуем переводы строк
* text=auto eol=lf

# Картинки и видео считаем бинарными (без диффов)
*.png  binary
*.jpg  binary
*.jpeg binary
*.webp binary
*.gif  binary
*.mp4  binary
*.webm binary

# Эти файлы/артефакты без диффов
data/portfolio.json -diff
docs/swagger.json    -diff
